.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 40px;
    /* border-radius: 8px; */
    width: 64%;
    height: 87%;
    position: relative;
    display: flex;
}

.closeBtn {
    position: absolute;
    top: 2px;
    right: 15px;
    background: none;
    border: none;
    color: gray;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.leftSide {
    flex: 1;
    text-align: center;
}

.mainImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.thumbnailContainer {
    display: flex;
    justify-content: center;
}

.thumbnail {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.thumbnail.activeThumbnail {
    border-color: black;
}

.rightSide {
    flex: 1;
    padding-left: 50px;
}

.productName {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 8px;
}

.rightSide .shortDesc {
    /* color: gray; */
    font-size: 11px;
    padding: 10px 0;
    line-height: 18px;
}

.priceContainer {
    margin-top: 10px;
}

.rightSide .priceContainer .discountPrice {
    color: #F03E3E;
    font-weight: bold;
    font-size: 20px;
}

.rightSide .priceContainer .originalPrice {
    text-decoration: line-through;
    color: gray;
    margin-left: 10px;
    font-size: 17px;
}
.rightSide .productStatus{
    color: #2f9e44;
    font-weight: 500;
    padding: 10px 0;
    font-size: 14px;
}

.rightSide .quantityContainer .addToCart {
    background: black;
    color: white;
    font-weight: bold;
    padding: 12px 15px;
    border: none;
    width: 100%;
    cursor: pointer;
    /* margin-top: 15px; */
}
.arrow {
    /* display: none; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: black;
    z-index: 10;
    cursor: pointer;

}
/* .mainImage:hover + .arrow {
    display: block;

} */


/* .arrow:disabled {
    opacity: 0.3;
    cursor: not-allowed;
} */

/* .leftSide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.arrow:first-of-type {
    left: 10px;
}

.arrow:last-of-type {
    right: 50%;
}

.quantityContainer {
    display: flex;
    gap: 20px;
    /* background-color: blue; */
    align-items: center;
    /* justify-content: center; */
    /* margin: 20px 0; */
    padding: 20px 0;
}
.quantityContainer .quantitySelector{
    /* background-color: red; */
    border: 1px solid #939292;
    width: 25%;
    text-align: center;
}
.rightSide .productlistMessage{
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    /* padding: 10px; */
}
.rightSide .productlistMessage li{
padding: 5px 0;


}
.rightSide .productlistMessage li span{
    padding-left: 5px;
    font-size: 11px;
}

.quantityContainer .quantitySelector .quantityBtn {
    background: transparent;
    color: black;
    border: none;
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
}

.quantityContainer .quantitySelector .quantity {
    font-size: 18px;
    margin: 0 10px;
}

.rightSide .wishlistBtn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
}

.heartIcon {
    font-size: 18px;
    /* color: red; */
    margin-right: 5px;
}

/* .addToCart {
    background: black;
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
} */
