*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Jost, sans-serif; */
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
a{
  text-decoration: none;
  /* border: none; */
}
li{
  list-style: none;
}

/* button.slick-arrow.slick-prev,
button.slick-arrow.slick-next {
    
    border-radius: 50% !important;
    z-index: 1000 !important;
}

Ensure arrow icons are visible
button.slick-arrow.slick-prev::before,
button.slick-arrow.slick-next::before {
    font-size: 25px !important;
    color: black !important;
    opacity: 1 !important;
} */



